html, body{
  /* The image used */
  background-image: url("bg.jpg");
  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img{
  margin-left: 60px;
  margin-top: 5px;
  margin-right: 20px;
  float: left;
  position: absolute;
}

.signup-box{
	position: relative;
}

.box{
	position: relative;
	top: 80px;
	width: 530px;
	height: 480px;
	margin: 0 auto;
	background-color: violet;
    border: 2px solid black;
}

form{
	padding: 20px;
	margin: 10px;
}

.sign-title{
	position: relative;
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald';
	font color: #E656E8;
}

.names{
	float:left;
}

.gendate{
	position: relative;
	left: 100px;
}

.account{
	float: left;
}
.button{
	position: relative;
    left: 100px;
 }

 .login-title{
	position: relative;
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald', cursive;
	font color: #E656E8;
}

.login{
	position: center;
}
.login-box{
	position: relative;
	top: 80px;
	width: 300px;
	height: 380px;
	margin: 0 auto;
	background-color: violet;
    border: 2px solid black;
}
.login-title{
	position: relative;
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald';
	font color: #E656E8;
}
.login{
	position: relative;
	left:150px;
    background-color: #F3C9FF;
    color:black;
  	height: 40px;
  	width: 80px;
  	margin: 10px;	
    font-family: "Arial";
    font-weight: 800;
    cursor: pointer;
    text-align: center;
 	
  }
  .login:hover{
    background-color: #E89990;
    color: white;
    border: 5px solid black;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    animation: bounce .6s;
}


  @keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

